<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <%- include("navbar", {links: links}) %>
    </header>
    <main>
      <h1>Messages from <%= userMessages[0].username %></h1>

      <% userMessages.forEach(message => { %>
        <div>
          <p>Created at: <%= message.added %></p>
          <p><%= message.text %></p>
        </div>
      <% }) %>
    </main>
  </body>
</html>
